:root {
    --clr-light: #F9FAF8;
    --clr-neutral: #E5E7EB;
    --clr-primary: #3882F6;
    --clr-dark: #1F2937;

    --ff-primary: 'roboto', sans-serif;
    --ff-accent:  'Playfair Display', serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    margin-inline: 10em;
    text-align: center;
}
section {
    padding: 3em 0;
}
h1,
h2,
h3,
p {
    margin-bottom: .5em;
    line-height: 1;
}
.global-content-wrapper {
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.wrapper {
    margin-inline: auto;
    width: (90%, 70rem);
}
.header-wrapper {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    display: flex;
    justify-content: space-between;
    padding: .5em;
    margin-inline: 0;
    padding-bottom: 3em;
}
.header-logo {
    display: flex;
    justify-content: flex-start;
    margin-left: 4em;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "myriad-pro-1", "myriad-pro-2", Helvetica, serif;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.header-link-one,
.header-link-two,
.header-link-three {
    font-size: 15px;
    margin-left: 20px;
    margin-right: 4em;
}
.banner-wrapper {
    display: flex;
    flex-direction: row;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    
}
.hero-header-title {
    font-size: 3rem;
    font-weight: 800;
    padding: 0 .5em;
}
.hero-paragraph {
    font-size: 18px;
    color: var(--clr-neutral);
    padding: 0 1em;
}
.banner-content {
    background-color: var(--clr-dark);
    padding: 3rem 0;
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex: 1 1 0;

}
.button-container {
    text-align: center;
    display: flex;
    justify-content: center;
}
.call-to-action-button {
    background-color: var(--clr-primary);
    color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-content: center;
    width: 8em;
    border-radius: 5px;
    padding: 10px;
}
.banner-photo {
    flex: 1 1 0;
}

.product-wrapper {
    color: var(--clr-dark);
    background-color: var(--clr-light);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2em;
}
.banner-products {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    margin: 1em;
}
img {
    max-width: 100%;
    display: block;
}
.photo-content {
    display: flexbox;
    border: 5px solid var(--clr-primary);
    border-radius: 2px;
    max-width: 100%;
    margin: 2em;
    justify-content: space-between;
}
.review-wrapper {
    background-color: var(--clr-neutral);
    padding: 2em;
}
.review-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    margin-bottom: 0;
}
.review-source {
    font-weight: 800;
    font-size: 1.2rem;
    font-style: normal;
    text-align: right;
}
.action-wrapper {
    background-color: var(--clr-light);
    color: var(--clr-light);
    margin: 0;
}
.action {
    background-color: var(--clr-primary);
    border-radius: 15px;
    margin-inline: 2em;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-bottom: 2em;
    padding-top: 2em;
}
.action-content {
    display: flexbox;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
}
.button-border {
    border: 5px solid var(--clr-light);
}
.footer {
    background-color: var(--clr-dark);
    text-align: center;
    height: .5em;
    color: var(--clr-light);
}
