:root {
    --clr-light: #F9FAF8;
    --clr-neutral: #E5E7EB;
    --clr-primary: #3882F6;
    --clr-dark: #1F2937;

    --ff-primary: 'roboto', sans-serif;
    --ff-accent:  'Playfair Display', serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFFFFF;
    font-family: var(--ff-primary);
    text-align: center;
}
p {
    font-family: var(--ff-accent);
}
.website-wrapper {
    display: flex;
    flex-direction: column;
}

/* Navigation Bar  is done */

.header {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1.25rem 0 1.25rem 6rem;
}
.logo {
    text-transform: uppercase;
    font-weight: 900;
    font-family: "myriad-pro-1", "myriad-pro-2", Helvetica, serif;
}
a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: var(--clr-light);
    font-size: 1.125rem;
    padding: .5rem
}
.header-links {
    display: flex;
    margin-left: auto;
    padding-right: 6rem;
}

/* Hero Banner */

.hero-banner {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5.5rem;
}
.hero-content {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    margin-right: 50px;
    text-align: left;
}
h1 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--clr-light)
    margin: 0;
}
.hero-content button {
    display: block;
    background-color: var(--clr-primary);
    color: var(--clr-light);
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: .9rem;
    font-weight: bold;
    text-align: center;
    width: 100px;
}
.hero-image img {
    width: 500px;
}
/*Product Banner */

.products {
    align-items: center;
}
.product-details {
    display: flex;
    justify-content: center;
}
.product-details img {
    width: 200px;
    object-fit: cover;
    border: 5px solid var(--clr-primary);
    border-radius: 10px;
    margin-inline: 20px;
    margin-top: 10px;
}
.product-details p {
    color: var(--clr-dark);
}
h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--clr-dark);
}
/* Reviews */

.reviews {
    background-color: var(--clr-neutral);
    padding: 2em;
    margin-bottom: 0;
}
.reviews p {
    font-size: 2rem;
    font-style: italic;
    font-weight: 100;
    font-family: var(--ff-accent);
}
#review-source {
    display: flex;
    justify-content: flex-end;
}

/* Call to Action button needs work*/

.action {
    background-color: var(--clr-primary);
    border-radius: 5px;
    border-color: none;
    margin: 50px 200px;
    color: var(--clr-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-text {
    text-align: left;
}
h3 {
    margin: 30px 0 0 50px;
}
.action-text p {
    margin: 5px 30px 30px 50px;
}
.action-button button {
    background-color: var(--clr-primary);
    color: var(--clr-light);
    border-radius: 5px;
    border-color: white;
    padding: 5px;
    font-size: .9em;
    margin-right: 20px;
    width: 100px;
    font-weight: bold;
    
}

/* Footer */

.footer {
    background-color: var(--clr-dark);
    color: var(--clr-light)
}